/* Cenário */
body {
  margin: 0;
  padding: 0;
  user-select: none;
  background-image: url(../../img/background.png);
  background-size: cover;
}

#jogo{
  position: relative;
  background: url('../img/cenario.png') no-repeat;
  background-size: cover;
  background-position: center;
  width: 750px;
  height: 500px;
  border: 2px solid #444; 
  overflow: hidden;
  margin: 20px auto;
}


/*Lixeiras*/
.lixeiras {
  position: absolute;
  bottom: 175px;
  left: 67%;
  transform: translateX(-50%);
  display:flex;
}
.lixeira {
  height: 96px;
  object-fit: contain;
  transition: transform 0.2s ease;
  position: relative;  
  z-index: 1;    
}
.lixeira:hover {
  transform: scale(1.1);
}

.lixos {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  pointer-events: all;
  user-select: none;
  z-index: 10;
}

.lixo {
  position: absolute;
  height: 70px;
  pointer-events: all;
  cursor: grab;
}


#info {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(255,255,255,0.8);
  padding: 10px;
  border-radius: 10px;
  font-family: sans-serif;
  z-index: 10;
}
#timer {
  font-size: 16px;
  font-weight: bold;
  color: #0f549e;
}
#log {
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
}

/*Header*/
header img{
  text-align: left;
  width: 180px;
  margin-top: 5px;
  height: auto;
}
h1{
  font-size: 45px;
  color: rgb(238, 238, 238);
  font-family:Arial;
  text-align: left;
}
#imgtitulo{
  display: flex;
  width: 100vw;
  flex-direction: column;
  margin-left:20px;
  gap: 10px;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
footer{

  padding: 4px;
  color: white;
  font-size: 17px;
  font-family:Arial;
  text-align: center;
  font-weight: bold;
  height: 3em;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.05rem;
  font-family: Arial;
  padding-bottom: 6px;
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s ease, color 0.3s ease;
  margin-right: 10px;
}

nav ul li a:hover,
nav ul li a:focus {
  border-bottom-color: #80a6d0;
  outline: none;
}

